extends base.pug

block content
    h4 Update the video
    form(method="POST")
        input(name = "title",placeholder="Video Title",value=video.title,requried)
        input(name = "description",placeholder="Description",value=video.description,requried)
        input(name = "hashtags",placeholder="Hashtages, separated by comma.",value=video.hashtags.join(),requried)
        input(value="Save",type="submit")