extends base.pug

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name = "title",placeholder="Video Title",requried)
        input(name = "description",placeholder="Description",requried)
        input(name = "hashtags",placeholder="Hashtages, separated by comma.",requried)
        input(value="Save",type="submit")